/* Container for table and canvas */
.center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse; /* Collapses table border into 1 border */
    border-style: hidden; /* Hides outer borders on table */
}

td {
    cursor: ponter;
    border: 4px solid yellowgreen;
    padding: 0px;
    width: 200px;
    height: 200px;
    filter: contrast(3);
}

canvas {
    position: absolute;
    z-index: 10; /* Places canvas over the table */
    pointer-events: none; /* Makes the canvas invisible */
}

.heading {
    text-align: center;
    color: darkcyan
}